# last modified 7 Apr 2010 by M. Friendly
import(vcd)
export(
	expand.dft,expand.table,collapse.table,
	mosaic.glm, sieve.glm, assoc.glm,
	modFit, modFit.glm, modFit.loglm,
	GKgamma,print.GKgamma,
	glmlist, loglmlist, summarize, 
	print.Kappa,
	mosaic3d, split3d, range3d, center3d,
	Kway, Crossings, meanResiduals)

S3method(mosaic, glm)
S3method(sieve, glm)
S3method(assoc, glm)
S3method(modFit, glm)
S3method(modFit, loglm)
S3method(summarize, glm)
S3method(summarize, glmlist)
S3method(summarize, loglm)
S3method(summarize, loglmlist)
S3method(print, GKgamma)
S3method(print, Kappa)
S3method(split3d, shape3d)
S3method(split3d, list)
S3method(mosaic3d, default)
S3method(mosaic3d, loglm)

