# last modified 3 Mar 2010 by M. Friendly
import(vcd)
export(
	expand.dft,expand.table,collapse.table,
	mosaic.glm, sieve.glm, assoc.glm,
	modFit, modFit.glm, modFit.loglm,
	GKgamma,print.GKgamma,
	glmlist, summarize, 
	print.Kappa)

S3method(mosaic, glm)
S3method(sieve, glm)
S3method(assoc, glm)
S3method(modFit, glm)
S3method(modFit, loglm)
S3method(summarize, glm)
S3method(summarize, glmlist)
S3method(print, GKgamma)
S3method(print, Kappa)

